body {
  background-color: green;
}
.container {
  margin-top: 20px;
  flex-wrap: wrap;
}
.card {
  width: 350px;
  min-width: 200px;
  height: 70vh;
  min-height: 200px;
  margin: auto;
  flex-wrap: wrap;
}

.topSuits {
  font-size: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.numContainer {
  text-align: center;
  font-size: 80px;
  flex-wrap: wrap;
}

.bottomSuits {
  text-align: right;
  font-size: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(180deg);
  flex-wrap: wrap;
}

.form-control {
  text-align: center;
  font-size: 14px;
}
